@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

/* @import '../node_modules/highlight.js/styles/atom-one-dark.css';  */
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}

p {
    font-family: 'Mulish', sans-serif !important;
}

code {
    font-size: 1.1em !important;
}

.main {
    width: 100%;
    height: 100vh;
    background: lightgray;
    transition: All 0.4s ease-in;
}

.main::before {
    content: "G_bot";
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #bbbbbb;
    font-size: 3.5rem;
    font-weight: bolder;
    font-style: italic;
    text-shadow: 0 5px #656565;
    transition: All 0.2s ease-in;
}

.main:hover::before {
    opacity: 0;
    font-size: 1.5rem;
}

.forms {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 0%;
    background: transparent;
    height: fit-content;
    width: 99%;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
    transition: All 0.4s ease-in-out;
}

.traeffect {
    height: 50px;
    width: 100%;
    position: absolute;
    bottom: 0%;
    background: linear-gradient(0deg, #747474, transparent);
}

.tara {
    width: 65%;
    outline: none;
    border: none;
    resize: none;
    transition: height 0.2s;
    padding: 15px 15px;
    font-size: 1rem;
    line-height: 1.5rem;
    max-height: 170px !important;
    overflow-y: scroll;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    transition: All 0.4s ease-in;
    scroll-behavior: smooth;
}

.tara::-webkit-scrollbar {
    display: none;
}

.sendbtn {
    height: 54px;
    min-width: fit-content !important;
    border: none;
    background: white;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    padding: 0px 10px !important;
    line-height: 15px !important;
    margin-left: -5px;
    position: relative;
    max-height: 170px !important;
    transition: All 0.4s ease-in;
}

.sendbtn i {
    font-size: 1.5rem !important;
    color: #1774e1;
}

#container {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 50px;
    width: 95%;
    transition: ALL 0.4s;
}

#scrollslt {
    transition: All 0.4s;
}

.wrapper {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 85%;
    display: flex;
    flex-wrap: wrap;
}

.botchatsd {
    height: 85vh;
}

.doing {
    height: 100%;
    /* height: 520px; */
    overflow: scroll;
    margin-top: 10px;
    margin-left: 45px;
    padding-bottom: 100px;
    scroll-behavior: smooth;
    transition: All 0.4s;
}

.doing::-webkit-scrollbar {
    display: none;
}

.top-nav {
    position: absolute;
    top: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: All 0.4s;
}

.nacont {
    display: flex;
    align-items: center;
    background: white;
    padding: 5px 10px;
    border-radius: 5px;
    user-select: none;
}

.userpro {
    position: absolute;
    right: 10px;
    padding: 5px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    overflow: hidden;
    height: -webkit-fill-available !important;
}

.logo {
    position: absolute;
    top: 0;
    left: 10px;
    background: white;
    height: 35px;
    width: 35px;
    padding: 5px;
    border-radius: 5px;
    transition: all 0.25s;
    user-select: none !important;
}

.logo>svg {
    color: #1774e1;
    transition: 0.5s ease-in-out;
}

.profbtn {
    position: static;
    min-width: fit-content !important;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border: none;
    outline: none;
    line-height: 0.54px;
    background: rgba(0, 0, 0, 0);
    padding: 0px !important;
    border-radius: 50px;
    transition: All 0.4s ease-in;
    user-select: none;
}

.logo:hover svg {
    transform: scale(1.1);
}

.nacont .aninimh {
    transition: all 0.5s;
}

.nacont:hover .aninimh {
    transform: scale(1.2);
}

.UserMn {
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100vh;
    width: 100%;
    z-index: 9;
}

#userchattitle {
    width: fit-content !important;
    text-align: justify !important;
    padding-right: 20px !important;
    display: flex;
    flex-wrap: wrap;
}

.firstu {
    position: absolute;
    top: 7%;
    right: 10px;
    height: 80%;
    width: 260px;
    background: #373737;
    border-radius: 5px;
}

.inpdata {
    background: transparent !important;
    padding: 0px;
    margin: 0px;
}

.profile {
    height: 35px;
    width: 35px;
    background: white;
    display: grid;
    place-items: center;
    padding: 5px;
    border-radius: 5px;
    user-select: none !important;
}

.codespd {
    border: none;
}

.upheader {
    position: relative;
    top: 5px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}

.newchatbtn {
    color: white !important;
    min-width: fit-content !important;
    height: 30px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    background: gray;
    line-height: 10 !important;
    padding: 0px 10px 0px 2px !important;
    transition: All 0.4s ease-in;
}

.newchatbtn i {
 margin: 10px 0px -2px 5px;
}

.setting {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 1%;
    background: gray;
    min-width: 90% !important;
    height: 35px;
    line-height: 24px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white !important;
}

.setting img {
    width: 25px;
    border-radius: 5px;
    height: 25px;
    border: 2px solid white;
    position: absolute;
    left: 5px;
}

::ng-deep .mdc-button .mdc-button__label {
    position: unset !important;
}

.chatcontainer {
    position: relative;
    height: -webkit-fill-available;
    border: 1px solid white;
    margin-top: 14px;
    margin-bottom: 80px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 10px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    padding: 10px;
}

.utypem {
    background: #1d1e1e;
    font-size: 12px !important;
    height: 30px;
    min-width: 100% !important;
    max-width: 100% !important;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    line-height: 11;
    flex-wrap: nowrap !important;
    white-space: nowrap !important;
    margin-bottom: 10px;
    padding: 10px !important;
    color: azure !important;
}

.chatcontainer::-webkit-scrollbar {
    display: none;
}

.utypem i {
    position: relative;
    top: 4px;
    font-size: 15px;
    color: #1774e1;
}

.btntrace {
    background: azure;
    border: none;
    outline: none;
    color: lightgray;
    transition: All 0.3s ease-in;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    right: -50%;
    height: 25px;
    width: 25px;
    border-radius: 5px;
    opacity: 0;
}

.btntrace i {
    margin-top: -10px !important;
}

.utypem:hover .btntrace {
    right: -5px;
    opacity: 1;
}

.settingbarbg {
    position: absolute;
    top: 0;
    height: 98.5%;
    width: 96%;
    background: rgb(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    margin: 5px;
    z-index: 9999999;
    border-radius: 5px;
    transition: All 0.5s ease-in-out;

}

.stogglep {
    position: absolute;
    bottom: -150px;
    height: 150px;
    width: 250px;
    background: #7d97ec;
    border-radius: 5px;
    opacity: 0;
    z-index: 995;
    transition: All 0.5s ease-in-out;
}

.addblestlp {
    position: absolute;
    bottom: 5px !important;
    opacity: 1;
}

.setfbtn {
    line-height: 30 !important;
    background: #6e6eff;
    color: white !important;
    min-width: 75px !important;
    padding: 0px 5px 0px 0px !important;
    font-size: 12px;
    transition: All 0.4s ease-in;
}

.setfbtn svg {
    fill: white;
    height: 17px !important;
    position: relative;
    top: -1px;
}

.ldsetbtn {
    background: black;
    line-height: 30 !important;
    color: white !important;
    min-width: 75px !important;
    padding: 0px 5px 0px 20px !important;
    font-size: 12px;
    transition: All 0.4s ease-in;
}

.ldsetbtn i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 8px;
    font-size: 15px;
}

.themec {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-top: 10px;
}

.cbtnborder {
    border: 1px solid #fb1fda;
    transition: border 0.4s ease-in;
}

.uchats {
    display: flex;
    align-items: center;
    gap: 10px;
    min-height: 40px;
    max-height: fit-content;
    width: 100%;
    background: gray;
    padding: 5px;
    border-radius: 5px;
    color: white;
}

.codreldm {
    white-space: pre-line !important;
    backdrop-filter: blur(10px);
    color: white !important;
    background: gray;
    padding: 5px 5px !important;
    border-radius: 5px;
}

.copyuserp {
    position: relative;
    right: 0;
    top: 10px;
}

.copyp {
    position: absolute !important;
    top: 10px;
    right: 15px;
    transition: All 0.4s ease-in;
    z-index: 999999999;
    opacity: 0;
}

.comanbct:hover .copyp {
    opacity: 1;
}
.wrapbtn{
    display: none;
}
@media (max-width:450px) {
    #container {
        width: 100% !important;
    }

    .tara {
        font-size: 15px;
        width: 80% !important;
    }

    .doing {
        padding-bottom: 100px !important;
    }

    .wrapper {
        width: 95% !important;
    }

    .codespd {
        width: 99% !important;
        margin-left: 0% !important;
    }

    .codehd {
        width: 99% !important;
    }

    .profile {
        position: absolute !important;
        width: 35px !important;
    }

    .userM {
        position: relative !important;
        left: 45px !important;
    }

    .logo {
        left: 7px;
    }
    .wrapbtn{
        display: flex;
    }
}



/* ldmod */

.light {
    background: azure;
    color: #333333 !important;
}

.light::before {
    content: "G_bot";
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #9c9c9c;
    font-size: 3.5rem;
    font-weight: bolder;
    font-style: italic;
    text-shadow: 0 5px #d2d2d2;
    transition: All 0.2s ease-in;
}

.light:hover::before {
    opacity: 0;
    font-size: 1.5rem;
}

.dark {
    background: #333333;
}

.changeta {
    color: white !important;
    background: grey;
    min-height: 54.5px !important;
}

.changeta::placeholder {
    color: white;
}

.btnchanger {
    background: grey;
}

.btnchanger i {
    color: white;
}

.sbdiv {
    width: 100%;
    position: absolute;
    bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.setting-bottom {
    min-width: 95% !important;
    color: white !important;
}

.ums {
    position: absolute;
    top: 50px;
    right: 10px;
    background: #7d97ec;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    font-size: smaller;
    z-index: 99999;
    letter-spacing: 1px;
}

.animatethems {
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.graps {
    height: 350px;
    width: 350px;
    border-radius: 5px;
    background: rgb(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.graps span {
    font-size: 1.6em;
    font-family: 'FontAwesome';
}

.shcthemi {
    height: 150px;
    width: 150px;
    margin-bottom: 30px;
    fill: blue;
}

.themepopi {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 120px;
    margin-bottom: 40px;
}

.takess {
    position: absolute !important;
    right: 40px !important;
    color: blue !important;
}


